 <div class="absolute">
	 	<h3>Account Details</h3>
	 	<form  action="/bet" method='post'>
     		 <h4>Total Loss</h4><input type='Integer' name='totalwin'
     		 value = <%= session[:totalwin] %> > </input>

      		 <h4>Total Loss</h4><input type='Integer' name='totalloss'
      		 value= <%= session[:totalloss] %> > </input>

             <h4>Total Loss</h4><input type='Integer' name='totalprofit'
             value= <%= session[:totalprofit] %>></input>
      
      
		</form>
</div>