<!DOCTYPE html>
<html>
<head>
	<link href="style.css" rel="stylesheet" type="text/css">
 </head>

<body class="bg">
	<div class="content">

		<div class="center">
		
			<h1>Welcome to Gamble Site</h1>	
			<h3>Please enter your login information to begin the game</h3>
			 	 	
		</div>

			<br>
			<br>
			<br>
			<br>
			
			<%= erb :form %>
	

	</div>

</body>
</html>

